$color-primary: #992712;

$color-black: #202022;
$color-white: #ffffff;
$color-gray: rgb(194, 194, 194);
$color-gray-light: rgb(243, 243, 243);
$color-blue: #325199;
$color-red: #eb5757;
$color-green: #1ab977;
